<div class="header">
    <div class="container test">
        <div class="header__inner">
            <a routerLink="" class="nav__link logo">FitNote</a>
            
            <nav class="nav menu">
                <a routerLink="create-user" class="links menu__link nav__link">Новый пользователь</a>

                <a routerLink="create-abonement" class="links nav__link">Новый абонемент</a>
                <a (click)="logout()" class="links nav__link">Выйти</a>
            </nav>

        </div>
    </div>
</div>
<app-abonement-page></app-abonement-page>