<div class="section section_ab">
    <div class="container">
       <div class="section__header">
          <h3 class="about__header">What about us</h3>
          <h2 class="section__title">With the help of FitNote, you can radically change your sports life, bringing organization and structure to it.</h2>
       </div>
       <div class="services">

          <div class="services__item">
             <img class="services__icon" src="../../../../assets/img/BOOK_2.png" alt="">
             <div class="services__title">Training diary</div>
             <div class="services__text">Fit Note will allow you to keep a record of your physical activity during training.</div>
          </div>

          <div class="services__item">
             <img class="services__icon" src="../../../../assets/img/LINE_GRAPH.svg" alt="">
             <div class="services__title">Follow-up activity</div>
             <div class="services__text">Thanks to Fit Note, you can easily track changes in your workouts, which will allow you to adjust the program of further classes in time.</div>
          </div>

          <div class="services__item">
             <img class="services__icon" src="../../../../assets/img/_OK.png" alt="">
             <div class="services__title">Easy to use</div>
             <div class="services__text">The user-friendly and intuitive interface makes this application available for use on a personal computer, as well as on a tablet or mobile phone.</div>
          </div>
       </div>
       <hr>
    </div>
 </div>