<div class="section section_ab">
    <div class="container">
       <div class="section__header">
          <h3 class="about__header">О нас</h3>
          <h2 class="section__title">С помощью FitNote вы сможете кардинально изменить свою спортивную жизнь, внеся в нее организованность и структурированность.</h2>
       </div>
       <div class="services">

          <div class="services__item">
             <img class="services__icon" src="../../../../assets/img/BOOK_2.png" alt="">
             <div class="services__title">Дневник тренировок</div>
             <div class="services__text">FitNote позволит вам быстро вести учет вашей физической активности на тренировках.</div>
          </div>

          <div class="services__item">
             <img class="services__icon" src="../../../../assets/img/LINE_GRAPH.svg" alt="">
             <div class="services__title">Прослеживание активности</div>
             <!-- <div class="services__text">Благодаря FitNote вы сможете с легкостью прослеживать изменения в вашем прогрессе на своих тренировках, что позволит вовремя скорректировать программу дальнейших занятий.</div> -->
          </div>

          <div class="services__item">
             <img class="services__icon" src="../../../../assets/img/_OK.png" alt="">
             <div class="services__title">Простота использования</div>
             <!-- <div class="services__text">Удобный и понятный интерфейс делает доступным данное приложение для использования как на персональном компьютере, так и на планшете или мобильном телефоне.</div> -->
          </div>
       </div>
       <hr>
    </div>
 </div>