<div class="header">
    <div class="container test">
        <div class="header__inner">
            <a routerLink="/admin-page" class="nav__link logo">FitNote</a>

            <nav class="nav menu">
                <a routerLink="/admin-page/trainers" class="links menu__link nav__link">Таблица тренеров</a>
                <a routerLink="/admin-page" class="links menu__link nav__link">Таблица администраторов</a>

                <a (click)="logout()" class="links nav__link">Выйти</a>
            </nav>
        </div>
    </div>
</div>
