<div class="header">
    <div class="container test">
        <div class="header__inner">
            <a routerLink="" class="nav__link logo">FitNote</a>

            <nav class="nav">
                <a routerLink="/abonement" class="links nav__link">Abonements</a>
                <a routerLink="/abonement/create-user" class="links nav__link">Create user</a>
                <a (click)="logout()" class="links nav__link">Logout</a>
            </nav>
        </div>
    </div>
</div>

<router-outlet></router-outlet>