<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div [class.flipper]="flip">

        <div class="container">
            <div class="front date-item">

                <div class="date__header">
                    <i class="material-icons" (click)="minusMonth()">arrow_left</i>
                    <div class="year">{{dataService.date | async | moment}}</div>
                    <i class="material-icons" (click)="plusMonth()">arrow_right</i>
                </div>

                <div id="calendar">
                    <table class="tbody">
                        <thead>
                            <tr class="months">
                                <th class="calendar__day">Mon</th>
                                <th class="calendar__day">Tue</th>
                                <th class="calendar__day">Wed</th>
                                <th class="calendar__day">Thu</th>
                                <th class="calendar__day">Fri</th>
                                <th class="calendar__day">Sat</th>
                                <th class="calendar__day">Sun</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="trow" *ngFor="let week of calendar">
                                <td class="tdata" *ngFor="let day of week.days" (click)="changeModal(day.value)"
                                    [class.disable]="day.disable">
                                    <a type="button" class="active calendar__number" [class.selected]="day.selected"
                                        [class.active]="day.active"> {{day.value | date: 'd'}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- back  -->
            <form class="back calendar-form" [formGroup]="calendarForm">
                <div class="modal-header">

                    <div class="task">
                        <div class="header_popup">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{dataService.date | async | moment: 'DD-MMMM'}}</h5>
                            <button type="button" class="close" (click)="closeModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <textarea [(ngModel)]="tempTask.description" id="description" class="text-area form-control"
                            formControlName="description" cols="100" rows="11" placeholder="Описание"></textarea>
                        <span *ngIf="calendarForm.get('description').invalid && calendarForm.get('description').touched"
                            class="error-text">Описание не может быть пустым</span>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" (click)="submit()" class="btn btn-primary"
                        [disabled]="calendarForm.invalid">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>