.section {
    padding-top: 10px;
    min-height: 590px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background: url('../../../../assets/img/abonement.jpg') no-repeat center;
    background-size: 100%;
}

.form-control {
    min-width: 300px;
    margin-top: 5px;
    background-color: rgba(244, 244, 245, 0.762);

    border: none;
    color: #333;
}
.main {
    display: flex;
}
.form-group {
    margin-right: 30px;
}
.textarea {
    max-width: 630px;
    height: 200px;
    /* width: 1203px; */
}
.btn {
    margin-right: 3px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    margin-top: 5px;
    padding: 5px 20px 5px 20px;
}
.error-text {
    font-weight: 700;
}
  
.info {
    display: flex;
}
.image {
    width: 400px;
    height: 400px;
}
.img {
    margin-bottom: 10px;
    max-width: 400px;
    max-height: 400px;
}

@media (max-width: 1200px) {
    .form-control {
        width:300px;
    }
    .textarea {
        width: 1000px;
        height: 200px;
    }
    .image {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 992px) {
    .form-control {
        width:200px;
    }
    .textarea {
        width: 800px;
        height: 200px;
    }
    .image {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 800px) {

    .form-control {
        width: 100px;
    }
    .textarea {
        width: 200px;
        height: 200px;
    }
    .info {
        display: block;
    }
    .image {
        width: 200px;
        height: 200px;
    }

}
@media (max-width: 500px) {
    .main{
        flex-direction: column;
    }
    .form-control {
        width: 100px;
    }
    .textarea {
        height: 100px;
    }
}  