<app-main-page-header></app-main-page-header>

<div class="section">
    <div class="container">
        <div class="col">
            <form class="form-group" [formGroup]="adminForm">  

                <div class="info">
                    <div class="info__items">

                        <div class="main">
                            <div class="form-group">
                                <input [(ngModel)]="admin.name" #name formControlName="name" type="text" class="form-control" placeholder="Имя и фамилия">
                                <span *ngIf="adminForm.get('name').invalid && adminForm.get('name').touched" class="error-text">Это обязательное поле.</span>
                            </div>

                            <div *ngIf="!adminId" class="form-group">
                                <input [(ngModel)]="admin.email" #email formControlName="email" type="email" class="form-control" placeholder="E-mail">
                                <span *ngIf="adminForm.get('email').invalid && adminForm.get('email').touched" class="error-text">Это обязательное поле.</span>
                                <span *ngIf="err" class="error-text">{{err}}</span>
                            </div>

                            <div *ngIf="adminId" class="form-group">
                                <input readonly [(ngModel)]="admin.email" #email formControlName="email" type="email" class="form-control" placeholder="E-mail">
                                <span *ngIf="adminForm.get('email').invalid && adminForm.get('email').touched" class="error-text">Это обязательное поле.</span>
                                <span *ngIf="err" class="error-text">{{err}}</span>
                            </div>
                        </div>

                        <div class="main">
                            <div class="form-group">
                                <input [(ngModel)]="admin.birth" #birth formControlName="birth" placeholder="Дата рождения" class="form-control" type="text" onfocus="(this.type='date')">
                                <span *ngIf="adminForm.get('birth').invalid && adminForm.get('birth').touched" class="error-text">Это обязательное поле.</span>
                            </div>

                            <div class="form-group">
                                <input [(ngModel)]="admin.phone" #phone formControlName="phone" type="phone" class="form-control" placeholder="Телефон">
                                <span *ngIf="adminForm.get('phone').invalid && adminForm.get('phone').touched" class="error-text">Это обязательное поле.</span>
                            </div>
                        </div>

                        <div class="main">
                            <div class="form-group">
                                <input [(ngModel)]="admin.address" #address formControlName="address" type="text" class="form-control" placeholder="Адрес">
                                <span *ngIf="adminForm.get('address').invalid && adminForm.get('address').touched" class="error-text">Это обязательное поле.</span>
                            </div>
                            
                            <div class="form-group">
                                <input [(ngModel)]="admin.workSchedule" #workSchedule formControlName="workSchedule" type="text" class="form-control" placeholder="График работы">
                                <span *ngIf="adminForm.get('workSchedule').invalid && adminForm.get('workSchedule').touched" class="error-text">Это обязательное поле.</span>
                            </div>
                        </div>

                        <div class="main">
                            <div class="form-group">
                                <input [(ngModel)]="admin.education" #education formControlName="education" type="text" class="form-control" placeholder="Образование">
                                <span *ngIf="adminForm.get('education').invalid && adminForm.get('education').touched" class="error-text">Это обязательное поле.</span>
                            </div>
                            
                            <div class="form-group">
                                <input [(ngModel)]="admin.workExperience" #workExperience formControlName="workExperience" type="text" class="form-control" placeholder="Опыт работы">
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea [(ngModel)]="admin.comment" #comment formControlName="comment" class="form-control textarea" placeholder="Профессиональные достижения"></textarea>
                        </div>
                    </div>


                    <div class="photo">
                        <div class="img">
                            <img [src]="url" class="image" accept=".png,.jpg">
                        </div>
                        <input type="file" formControlName="imageUrl" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)">

                    </div>
                </div>

                <input (click)="createAdmin()" type="submit" class="btn btn-default" [disabled]="adminForm.invalid || adminForm.disabled" value="Сохранить" />
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>