.section {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    min-height: 590px;
    background: url('../../../../../assets/img/abonement.jpg') no-repeat center;
    background-size: 100%;
}
.little {
    cursor: pointer;
    outline: none;
    margin-top: 50px;
    border: 1px solid rgba(144, 144, 144, 0.5);
	border-radius: 20px;
    padding: 1px 8px;
    height: 32px;
    cursor: pointer;
	background-color:rgba(244, 244, 245, 0.5);
	color: #212121;
    font-weight: 700;
    font-size: 18px;
}